.card {
  /* background-color: red; */
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 320px;
  border-radius: 5px;
  padding: 5px;
  background-color: #fff;
  box-shadow: 0.2rem 0.2rem 0.5rem #38383863, -0.2rem 0.2rem 0.5rem #38383863;
  transition: all 0.5s;
}
.card:hover {
  box-shadow: 0rem 0rem 0rem #d0d0d0;
}
.card > * {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.card > .cover {
  margin: 2rem;
}
.card > .author {
  margin-top: 1rem;
  color: #2b2b2b;
}
.card > .link {
  margin: 1rem;
  padding: 1rem 2rem;
  font-weight: bold;
  display: block;
  text-decoration: none;
  color: black;
  background-color: gold;
  border-radius: 2px;
  border: 1px solid goldenrod;
  font-size: 1.6em;
}
